<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-tomorrow.min.css" integrity="sha512-vswe+cgvic/XBoF1OcM/TeJ2FW0OofqAVdCZiEYkd6dwGXthvkSFWOoGGJgS2CW70VK5dQM5Oh+7ne47s74VTg==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-okaidia.min.css" integrity="sha512-mIs9kKbaw6JZFfSuo+MovjU+Ntggfoj8RwAmJbVXQ5mkAX5LlgETQEweFPI18humSPHymTb5iikEOKWF7I8ncQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Estilos -->
    <link rel="stylesheet" href="style.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="./imagenes/angularJs_icon.png" type="image/x-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

    <title>AngularJS Data Binding</title>
</head>
<body>

  <div class="contenedor-principal">
    <div class="top-menu">
      <button class="button-menu">Menu</button>
      <div class="menu" id="menu">
        <!-- Los enlaces se agregan mediante codigo.js -->
      </div>
    </div>

    <h1>AngularJS Data Binding</h1>
    <p>Data binding in AngularJS is the synchronization between the model and the view.</p>

    <section id="titulo"><h2>Data Model</h2>
      <p>AngularJS applications usually have a data model. The data model is a collection of data available for the application.</p>
      
      <button class="accordion"><h3>Example</h3></button>
      <div class="panel">
        <pre><code class="language-javascript">
  var app = angular.module('myApp', []);
  app.controller('myCtrl', function($scope) {
    $scope.firstname = "John";
    $scope.lastname = "Doe";
  });
        </code></pre>
      </div>
    </section>
    
    <section id="titulo"><h2>HTML View</h2>
      <p>The HTML container where the AngularJS application is displayed, is called the view.</p>
      <p>The view has access to the model, and there are several ways of displaying model data in the view.</p>
      <p>You can use the <code class="res">ng-bind</code> directive, which will bind the innerHTML of the element to the specified model property:</p>
      
      <button class="accordion"><h3>Example</h3></button>
      <div class="panel">
        <pre><code class="language-html">
  <span><</span>p ng-bind="firstname"><span><</span>/p>
        </code></pre>
      </div>

      <p>You can also use double braces <code class="res">{{ }}</code> to display content from the model:</p>
      
      <button class="accordion"><h3>Example</h3></button>
      <div class="panel">
        <pre><code class="language-html">
  <span><</span>p>First name: {{firstname}}<span><</span>/p>
        </code></pre>
      </div>

      <p>Or you can use the <code class="res">ng-model</code> directive on HTML controls to bind the model to the view.</p>
    </section>
    
    <section id="titulo"><h2>The <code class="res">ng-model</code> Directive</h2>
      <p>Use the <code class="res">ng-model</code> directive to bind data from the model to the view on HTML controls (input, select, textarea)</p>
      
      <button class="accordion"><h3>Example</h3></button>
      <div class="panel">
        <pre><code class="language-html">
  <span><</span>input ng-model="firstname">
        </code></pre>
      </div>

      <p>The <code class="res">ng-model</code> directive provides a two-way binding between the model and the view.</p>
    </section>
    
    <section id="titulo"><h2>Two-way Binding</h2>
      <p>Data binding in AngularJS is the synchronization between the model and the view.</p>
      <p>When data in the <i>model</i> changes, the <i>view</i> reflects the change, and when data in the <i>view</i> changes, 
        the <i>model</i> is updated as well. This happens immediately and automatically, which makes sure that 
        the model and the view is updated at all times.</p>

      <button class="accordion"><h3>Example</h3></button>
      <div class="panel">
        <pre><code class="language-html">
  <span><</span>div ng-app="myApp" ng-controller="myCtrl">
    Name: <span><</span>input ng-model="firstname">
    <span><</span>h1>{{firstname}}<span><</span>/h1>
  <span><</span>/div>

  <span><</span>script>
  var app = angular.module('myApp', []);
  app.controller('myCtrl', function($scope) {
    $scope.firstname = "John";
    $scope.lastname = "Doe";
  });
  <span><</span>/script>
        </code></pre>
      </div>

    </section>
    
    <section id="titulo"><h2>AngularJS Controller</h2>
      <p>Applications in AngularJS are controlled by controllers.</p>
      <p>Because of the immediate synchronization of the model and the view, the controller can be completely 
        separated from the view, and simply concentrate on the model data. Thanks to the data binding in AngularJS, 
        the view will reflect any changes made in the controller.</p>
      
      <button class="accordion"><h3>Example</h3></button>
      <div class="panel">
        <pre><code class="language-html">
  <span><</span>div ng-app="myApp" ng-controller="myCtrl">
    <span><</span>h1 ng-click="changeName()">{{firstname}}<span><</span>/h1>
  <span><</span>/div>

  <span><</span>script>
  var app = angular.module('myApp', []);
  app.controller('myCtrl', function($scope) {
    $scope.firstname = "John";
    $scope.changeName = function() {
      $scope.firstname = "Nelly";
    }
  });
  <span><</span>/script>
        </code></pre>
      </div>

    </section>

    <hr>
    <footer>
      
      <div class="footer-iconos">
        <a href="https://twitter.com/" target="_blank"><i class="bi bi-twitter"></i></a>
        <a href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram"></i></a>
        <a href="https://es-es.facebook.com/" target="_blank"><i class="bi bi-facebook"></i></a>
        <a href="https://github.com/" target="_blank"><i class="bi bi-github"></i></a>
        <a href="https://ar.linkedin.com/" target="_blank"><i class="bi bi-linkedin"></i></a>
      </div>
      
      <p>AngularJS Tutorial.</p>
      <p>Copyright 2023 by Lucas. All Rights Reserved.</p>
      <p>Author: Lucas</p>

    </footer>

  </div>
  <script src="./codigo.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/autoloader/prism-autoloader.min.js"></script>
</body>
</html>