<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-tomorrow.min.css" integrity="sha512-vswe+cgvic/XBoF1OcM/TeJ2FW0OofqAVdCZiEYkd6dwGXthvkSFWOoGGJgS2CW70VK5dQM5Oh+7ne47s74VTg==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-okaidia.min.css" integrity="sha512-mIs9kKbaw6JZFfSuo+MovjU+Ntggfoj8RwAmJbVXQ5mkAX5LlgETQEweFPI18humSPHymTb5iikEOKWF7I8ncQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Estilos -->
    <link rel="stylesheet" href="style.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="./imagenes/angularJs_icon.png" type="image/x-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

    <title>AngularJS Tables</title>
</head>
<body>

  <div class="contenedor-principal">
    <div class="top-menu">
      <button class="button-menu">Menu</button>
      <div class="menu" id="menu">
        <!-- Los enlaces se agregan mediante codigo.js -->
      </div>
    </div>

    <h1>AngularJS Tables</h1>
    <p>The ng-repeat directive is perfect for displaying tables.</p>

    <section id="titulo"><h2>Displaying Data in a Table</h2>
      <p>Displaying tables with angular is very simple:</p>
      
      <button class="accordion"><h3>Example</h3></button>
      <div class="panel">
        <pre><code class="language-html">
  &lt;div ng-app="myApp" ng-controller="customersCtrl">

  &lt;table>
    &lt;tr ng-repeat="x in names">
      &lt;td>{{ x.Name }}&lt;/td>
      &lt;td>{{ x.Country }}&lt;/td>
    &lt;/tr>
  &lt;/table>

  &lt;/div>

  &lt;script>
  var app = angular.module('myApp', []);
  app.controller('customersCtrl', function($scope, $http) {
    $http.get("customers.php")
    .then(function (response) {$scope.names = response.data.records;});
  });
  &lt;/script>
        </code></pre>
      </div>
    </section>
    
    <section id="titulo"><h2>Displaying with CSS Style</h2>
      <p>To make it nice, add some CSS to the page:</p>
      
      <button class="accordion"><h3>CSS Style</h3></button>
      <div class="panel">
        <pre><code class="language-html">
  &lt;style>
  table, th , td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
  }

  table tr:nth-child(odd) {
    background-color: #f1f1f1;
  }

  table tr:nth-child(even) {
    background-color: #ffffff;
  }
  &lt;/style>
        </code></pre>
      </div>
    </section>
    
    <section id="titulo"><h2>Display with orderBy Filter</h2>
      <p>To sort the table, add a <b>orderBy</b> filter:</p>
      
      <button class="accordion"><h3>Example</h3></button>
      <div class="panel">
        <pre><code class="language-html">
  &lt;table>
    &lt;tr ng-repeat="x in names | orderBy : 'Country'">
      &lt;td>{{ x.Name }}&lt;/td>
      &lt;td>{{ x.Country }}&lt;/td>
    &lt;/tr>
  &lt;/table>
        </code></pre>
      </div>
    </section>
    
    <section id="titulo"><h2>Display with uppercase Filter</h2>
      <p>To display uppercase, add <b>uppercase</b> filter:</p>
      
      <button class="accordion"><h3>Example</h3></button>
      <div class="panel">
        <pre><code class="language-html">
  &lt;table>
    &lt;tr ng-repeat="x in names">
      &lt;td>{{ x.Name }}&lt;/td>
      &lt;td>{{ x.Country | uppercase }}&lt;/td>
    &lt;/tr>
  &lt;/table>
        </code></pre>
      </div>
    </section>
    
    <section id="titulo"><h2>Display the Table Index ($index)</h2>
      <p>To display the table index, add a &lt;td> with <b>$index</b>:</p>
      
      <button class="accordion"><h3>Example</h3></button>
      <div class="panel">
        <pre><code class="language-html">
  &lt;table>
    &lt;tr ng-repeat="x in names">
      &lt;td>{{ $index + 1 }}&lt;/td>
      &lt;td>{{ x.Name }}&lt;/td>
      &lt;td>{{ x.Country }}&lt;/td>
    &lt;/tr>
  &lt;/table>
        </code></pre>
      </div>
    </section>
    
    <section id="titulo"><h2>Using $even and $odd</h2>
      <button class="accordion"><h3>Example</h3></button>
      <div class="panel">
        <pre><code class="language-html">
  &lt;table>
    &lt;tr ng-repeat="x in names">
      &lt;td ng-if="$odd" style="background-color:#f1f1f1">{{ x.Name }}&lt;/td>
      &lt;td ng-if="$even">{{ x.Name }}&lt;/td>
      &lt;td ng-if="$odd" style="background-color:#f1f1f1">{{ x.Country }}&lt;/td>
      &lt;td ng-if="$even">{{ x.Country }}&lt;/td>
    &lt;/tr>
  &lt;/table>
        </code></pre>
      </div>
    </section>

    <hr>
    <footer>
      
      <div class="footer-iconos">
        <a href="https://twitter.com/" target="_blank"><i class="bi bi-twitter"></i></a>
        <a href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram"></i></a>
        <a href="https://es-es.facebook.com/" target="_blank"><i class="bi bi-facebook"></i></a>
        <a href="https://github.com/" target="_blank"><i class="bi bi-github"></i></a>
        <a href="https://ar.linkedin.com/" target="_blank"><i class="bi bi-linkedin"></i></a>
      </div>
      
      <p>AngularJS Tutorial.</p>
      <p>Copyright 2023 by Lucas. All Rights Reserved.</p>
      <p>Author: Lucas</p>

    </footer>

  </div>
  <script src="./codigo.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/autoloader/prism-autoloader.min.js"></script>
</body>
</html>