<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-tomorrow.min.css" integrity="sha512-vswe+cgvic/XBoF1OcM/TeJ2FW0OofqAVdCZiEYkd6dwGXthvkSFWOoGGJgS2CW70VK5dQM5Oh+7ne47s74VTg==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-okaidia.min.css" integrity="sha512-mIs9kKbaw6JZFfSuo+MovjU+Ntggfoj8RwAmJbVXQ5mkAX5LlgETQEweFPI18humSPHymTb5iikEOKWF7I8ncQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Estilos -->
    <link rel="stylesheet" href="style.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="./imagenes/angularJs_icon.png" type="image/x-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

    <title>AngularJS Application</title>
</head>
<body>

  <div class="contenedor-principal">
    <div class="top-menu">
      <button class="button-menu">Menu</button>
      <div class="menu" id="menu">
        <!-- Los enlaces se agregan mediante codigo.js -->
      </div>
    </div>

    <h1>AngularJS Application</h1>
    <p>It is time to create a real AngularJS Application.</p>

    <section id="titulo"><h2>Make a Shopping List</h2>
      <p>Lets use some of the AngularJS features to make a shopping list, where you can add or remove items:</p>
      <img src="./imagenes/imagen_002.png" alt="Imagen 002" class="img-ej">
    </section>
    
    <section id="titulo"><h2>Application Explained</h2>
      <h3>Step 1. Getting Started:</h3>
      <p>Start by making an application called <coder class="res">myShoppingList</coder> and add a controller named <code class="res">myCtrl</code> to it.</p>
      <p>The controller adds an array named <code class="res">products</code> to the current <code class="res">$scope</code>.</p>
      <p>In the HTML, we use the <code class="res">ng-repeat</code> directive to display a list using the items in the array.</p>
      
      <button class="accordion"><h3>Example</h3></button>
      <div class="panel">
        <p>So far we have made an HTML list based on the items of an array:</p>
        <pre><code class="language-html">
  <span><</span>script>
  var app = angular.module("myShoppingList", []);
  app.controller("myCtrl", function($scope) {
    $scope.products = ["Milk", "Bread", "Cheese"];
  });
  <span><</span>/script>

  <span><</span>div ng-app="myShoppingList" ng-controller="myCtrl">
    <span><</span>ul>
      <span><</span>li ng-repeat="x in products">{{x}}<span><</span>/li>
    <span><</span>/ul>
  <span><</span>/div>
        </code></pre>
      </div>

      <h3>Step 2. Adding Items:</h3>
      <p>In the HTML, add a text field and bind it to the application with the <code class="res">ng-model</code> directive.</p>
      <p>In the controller, make a function named <code class="res">addItem</code> and use the value of the <code class="res">addMe</code> input field to add an item to the <code class="res">products</code> array.</p>
      <p>Add a button and give it an <code class="res">ng-click</code> directive that will run the <code class="res">addItem</code> function when the button is clicked.</p>
      
      <button class="accordion"><h3>Example</h3></button>
      <div class="panel">
        <p>Now we can add items to our shopping list:</p>
        <pre><code class="language-html">
  <span><</span>script>
  var app = angular.module("myShoppingList", []);
  app.controller("myCtrl", function($scope) {
    $scope.products = ["Milk", "Bread", "Cheese"];
    <b>$scope.addItem = function () {</b>
      <b>$scope.products.push($scope.addMe);</b>
    <b>}</b>
  });
  <span><</span>/script>

  <span><</span>div ng-app="myShoppingList" ng-controller="myCtrl">
    <span><</span>ul>
      <span><</span>li ng-repeat="x in products">{{x}}<span><</span>/li>
    <span><</span>/ul>
    <b><span><</span>input ng-model="addMe"></b>
    <b><span><</span>button ng-click="addItem()">Add<span><</span>/button></b>
  <span><</span>/div>
        </code></pre>
      </div>

      <h3>Step 3. Removing Items:</h3>
      <p>We also want to be able to remove items from the shopping list.</p>
      <p>In the controller, make a function named <code class="res">removeItem</code>, which takes the index of the item you want to remove, as a parameter.</p>
      <p>In the HTML, make a <code class="res"><span><</span>span></code> element for each item and give them an <code class="res">ng-click</code> directive which calls the <code class="res">removeItem</code> function with the current <code class="res">$index</code>.</p>
      
      <button class="accordion"><h3>Example</h3></button>
      <div class="panel">
        <p>Now we can remove items from our shopping list:</p>
        <pre><code class="language-html">
  <span><</span>script>
  var app = angular.module("myShoppingList", []);
  app.controller("myCtrl", function($scope) {
    $scope.products = ["Milk", "Bread", "Cheese"];
    $scope.addItem = function () {
      $scope.products.push($scope.addMe);
    }
    <b>$scope.removeItem = function (x) {
      $scope.products.splice(x, 1);
    }</b>
  });
  <span><</span>/script>

  <span><</span>div ng-app="myShoppingList" ng-controller="myCtrl">
    <span><</span>ul>
      <span><</span>li ng-repeat="x in products">
        {{x}}<b><span><</span>span ng-click="removeItem($index)">&<span>times</span>;<span><</span>/span></b>
      <span><</span>/li>
    <span><</span>/ul>
    <span><</span>input ng-model="addMe">
    <span><</span>button ng-click="addItem()">Add<span><</span>/button>
  <span><</span>/div>
        </code></pre>
      </div>

      <h3>Step 4. Error Handling:</h3>
      <p>The application has some errors, like if you try to add the same item twice, the application crashes. Also, it should not be allowed to add empty items.</p>
      <p>We will fix that by checking the value before adding new items.</p>
      <p>In the HTML, we will add a container for error messages, and write an error message when someone tries to add an existing item.</p>
      
      <button class="accordion"><h3>Example</h3></button>
      <div class="panel">
        <p>A shopping list, with the posibility to write error messages:</p>
        <pre><code class="language-html">
  <span><</span>script>
  var app = angular.module("myShoppingList", []);
  app.controller("myCtrl", function($scope) {
    $scope.products = ["Milk", "Bread", "Cheese"];
    $scope.addItem = function () {
      <b>$scope.errortext = "";
      if (!$scope.addMe) {return;}
      if ($scope.products.indexOf($scope.addMe) == -1) {</b>
        $scope.products.push($scope.addMe);
      <b>} else {
        $scope.errortext = "The item is already in your shopping list.";
      }</b>
    }
    $scope.removeItem = function (x) {
      <b>$scope.errortext = "";</b>
      $scope.products.splice(x, 1);
    }
  });
  <span><</span>/script>

  <span><</span>div ng-app="myShoppingList" ng-controller="myCtrl">
    <span><</span>ul>
      <span><</span>li ng-repeat="x in products">
        {{x}}<span><</span>span ng-click="removeItem($index)">&<span>times</span>;<span><</span>/span>
      <span><</span>/li>
    <span><</span>/ul>
    <span><</span>input ng-model="addMe">
    <span><</span>button ng-click="addItem()">Add<span><</span>/button>
    <b><span><</span>p>{{errortext}}<span><</span>/p></b>
  <span><</span>/div>
        </code></pre>
      </div>

      <h3>Step 5. Design:</h3>
      <p>The application works, but could use a better design. We use the W3.CSS stylesheet to style our application.</p>
      <p>Add the W3.CSS stylesheet, and include the proper classes throughout the application, and the result will be the same as the shopping list at the top of this page.</p>
      <button class="accordion"><h3>Example</h3></button>
      <div class="panel">
        <p>Style your application using the W3.CSS stylesheet:</p>
        <pre><code class="language-html">
  <span><</span>link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        </code></pre>
      </div>

    </section>
        
    <hr>
    <footer>
      
      <div class="footer-iconos">
        <a href="https://twitter.com/" target="_blank"><i class="bi bi-twitter"></i></a>
        <a href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram"></i></a>
        <a href="https://es-es.facebook.com/" target="_blank"><i class="bi bi-facebook"></i></a>
        <a href="https://github.com/" target="_blank"><i class="bi bi-github"></i></a>
        <a href="https://ar.linkedin.com/" target="_blank"><i class="bi bi-linkedin"></i></a>
      </div>
      
      <p>AngularJS Tutorial.</p>
      <p>Copyright 2023 by Lucas. All Rights Reserved.</p>
      <p>Author: Lucas</p>

    </footer>

  </div>
  <script src="./codigo.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/autoloader/prism-autoloader.min.js"></script>
</body>
</html>